.header{
background-color; transparent;
    padding: 10px;
    text-align: center;
}



body {
      background-image: url("images/background_pic.jpg");
	background-repeat: repeat-y;
}


.nav{
	overflow: hidden;
	background-color:transparent;
}

ul {
	list-style-type: none;
	position: center;
	margin: -10px;
}
	
li {
	text-align: center;
	border: 2px solid #000000;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: black;
	padding: 10px;
	border-radius: 10px 9px;
	background-color:wheat;
}
h1 {
      text-align: center;
      color:mediumaquamarine;
}

h2 {
      text-align: left;
      padding: 5px;
}

.pink {
	color: palevioletred;
	font-family: cursive;
	border: solid 3px black;
	text-align: center;
}


.green {
	color: gold
	font-family: cursive;
	border: solid 3px black;
	text-align: center;
	
	
}

.gold {
	color: gold;
	text-align: center;
	font-family: cursive;
	border: solid 3px black; 
}

.purple {
	color: purple;
	font-family: cursive;
	border: solid 3px black;
	text-align: center;
}


p {
	text-align: center;
	font-family: cursive;
	color: yellow;
	background-color: thistle;
	

}

.column {

	float: left;
	width: 30%;
	padding: 15px;
}


.buy_button {

    height: 40px;
    width:110px;
    border-color: red;
    background-color: yellow;
    border-style: solid;
    border-width: 2px;
    margin: auto;
    text-align: center;
    

}

.blog{
	text-align: center;
}


.policy {
	text-align: center;

}



.footer{
	background-color: black;
	padding: 10px;
	text-align: center;
	color: white;
}


